@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{font-family: "Outfit", sans-serif;}
@theme{
  --color-primary : #5044E5
}

.gradient-bg {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 20% 30%, rgba(0, 200, 255, 0.35), transparent 50%),
              radial-gradient(circle at 40% 60%, rgba(255, 120, 120, 0.35), transparent 50%),
              radial-gradient(circle at 70% 40%, rgba(180, 75, 255, 0.35), transparent 50%),
              radial-gradient(circle at 80% 80%, rgba(100, 150, 255, 0.35), transparent 50%);
  filter: blur(80px);
}
